<h2>Flashcards</h2>
Practice chosen characters with flashcards.<br><br>
<button onclick='FlashcardsShowHide();'>Practice</button><br>
<div id='test_overlay' style='display:none' class='test_overlay'>
  <button onclick='FlashcardsShowHide();' style='float:right;'>X</button>
  <button onclick='FlashcardsHelpShowHide();' style='float:right;'>?</button>
  <!-- FLASHCARDS: STATS -->
  progress: <div id='progress' style='display:inline'>0%</div>
  <div id='flashcards_help' style='display:none'>
    Try to guess the character and press 'show' to check the answer.<br>
    Then, press 'yes' if you knew this character, or 'no' if you didn't.<br>
    <b>Hint:</b> show=any-arrow, yes=right-arrow, no=left-arrow
  </div><br>
  <center>

  <!-- CARD: front -->
  <div id='front' style='display:none'>
    <span id='test_front'>我</span>
    <div class='test_buttons'>
      <button id='test_btn_show' class='test_btn show'>show</button>
    </div>
  </div>

  <!-- CARD: back -->
  <div id='back' style='display:none'>
    <span id='test_back'>some-meaning</span>
    <div class='test_buttons'>
      <button id='test_btn_no' class='test_btn no'>no</button>
      <button id='test_btn_yes' class='test_btn yes'>yes</button>
    </div>
  </div>

  </center>
</div>
<br><hr>
