<h2>Characters to study</h2>
<!-- CONTROLS -->
Click on a character to add it to study list.

<br>
<div style='display:inline-block;'>
  <button id='tab_pick_words' class='tab tab-active' onclick="ShowPickerTab('pick_words')">Words</button>
  <button id='tab_pick_chars' class='tab' onclick="ShowPickerTab('pick_chars')">Characters</button>
</div>
<br>


<div style='border:solid 1px'>
  <div id='pick_words' class='row'>
  </div> <!-- end pick words-->

  <!-- controls -->
  <div id='pick_chars'>
    <label for='common_slide'>Common chars:</label>
    <input class='inline' type='range' value='1499' id='common_slide' min='1' max='1499'>
    <input class='inline' type='number' value='1499' id='common_result' min='1' max='1499'>
    <br>
    <label class='switch'>
      <input id='hide_known_chars' type="checkbox">
      <span class="slider round"></span>
    </label><label style='vertical-align:middle'> Hide known chars</label>

    <!-- char pick table -->
    <table id='pick_chars_table'>
      <thead>
        <td>Count</td>
        <td>Characters</td>
      </thead>
      <tbody id='tbl_pick_chars'></tbody>
    </table>
  </div> <!-- end pick chars -->

</div> <!-- END PICK CHARS/WORDS -->

<!-- CHOSEN CHARS -->
Chosen words/chars:
<div><table id='chars_study_choice' style='width:100%;' border='true'></table></div>
<button onclick='SubmitCharsToStudy()' >Submit</button><br>
