#result, #txt {
  width: 80%;
  height: 30%;
  border: 1px solid;
  text-align: left;
}

ch {
  display: inline-block;
}

.ch:hover {
  background-color: grey;
}

ch bc {
  bottom: 100%;
}

#tip {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  background-color: black;
  color: white;
  padding: 10px;
}
#tip-title {
  font-size:1.2em;
}
ul {
  margin: 0;
  padding-left: 1.2em;
}
li {
  margin: 0 0;
}
