.tip {
  background-color: black;
  color: white;
  position: fixed;
  visibility: hidden;
  text-align: center;
  white-space: nowrap;
  padding: 10px;
}

.tip-title {
  text-align: center;
}

.tip-pinyin {
  font-weight: bold;
}

.tip-meanings {
  text-align: left;
  font-size: 80%;
}
