/* SECTION: TEXT */

button {
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display: inline;
  outline:0
}
.tab {
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display: inline;
  outline:0;
  background-color: rgb(239, 239, 239);
  font: 0.9em Arial;
}
.tab:hover {
  color: white;
  background-color: grey;
}

button:hover {
  /* text */
  color: white;
  background-color: grey;
}
.tab-active {
  color: white;
  background-color: black;
}

#study-edit-text, #study-view-text {
  height: 90%;
  resize: none;
  font-family: Helvetica;
  font-size: 1.5em;
}

#study-view-text, #about {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  padding: 2px 0px 0px 2px;
  border-width: 1px;
}

ruby {
  margin: 0;
}

.tab-content {
  clear: left;
  display: none;
}

/* OTHER */
/* SLIDER */
  .switch {
    position: relative;
    display: inline-block;
    /*width: 60px;*/
    width: 2.5em;
    /*height: 34px;*/
    height: 1em;
    vertical-align: middle;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    /* inne circle */
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 1em; /* DEBUG */
    width: 1em;
    left: 4px;
    /* bottom: 0; */ /* DEBUG */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
  }
/* SLIDER */

pre {
  text-align: left;
}
.inline {
  display: inline-block;
  vertical-align: middle;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
}
td {
  vertical-align: top;
}
.td_right {
  text-align: right;
}
.border, .field {
  border: 1px solid black;
}
.field {
  min-height: 1.25em;
  width: 80%;
}
.zhchar {
  font-size: 1.5em;
  display: inline;
}

/* FLASHCARDS */
.no-scroll {
  overflow: hidden;
}
.test_overlay {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#test_front {
  font-size: 15em;
  display: block;
}
#test_back {
  /*display: none;*/
  width: 100%;
  /*position: absolute;*/
  top: 5%;
  font-size: 2em;
}
.test_buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.test_btn {
  height: 2em;
  bottom: 0;
  font-size: 2em;
}
.show {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.yes {
  width: 50%;
  bottom: 0;
  border-bottom-right-radius: 10px;
}
.no {
  width: 50%;
  border-bottom-left-radius: 10px;
  /*display: none;*/
}

#pick_chars {
  display: none;
}
#pick_chars_table {
  width: 100%;
}
#pick_chars_table tr, #pick_chars_table td {
  border: 1px solid;
}
#pick_words {
  display: block;
}
.column {
  float: left;
  width: 25%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
