<div id='study-edit'>
  <!-- STUDY: EDIT -->
  <textarea id='study-edit-text' name='textarea' rows='20' cols='20' style='width:100%' style='resize:none;'>
Paste Mandarin text here, for example:

(台灣英文新聞 / 黃紫緹 綜合報導）印度新冠肺炎（COVID-19）疫情失控，為了全面防堵病毒入侵，澳洲1日宣布禁止公民自印度返國，鐵腕禁令引發種族歧視與人權侵害批評，官方態度甚堅，毫不讓步。
Source: https://www.taiwannews.com.tw/ch/news/4193769

Then press 'Analyse' and scroll down.</textarea>
  <br>
  <button id='btn-study-anal' class='tab' onclick='Analyse();'>Analyse</button>
  <br>
  <!-- STUDY: EDIT/-->
</div>
