<div id='study-stats' style='display:none;' class='test_overlay'>
  <button onclick="_showHideOverlay('study-stats');" style='float:right;'>X</button>
  <button onclick='FlashcardsHelpShowHide();' style='float:right;'>?</button>
  <h1>Stats</h1>
  <center>
  <table border='true'>
    <thead>
      <th>name</th>
      <th>count</th>
    </thead>
    <tbody>
      <tr><td>Characters</td><td id='chars'></td></tr>
      <tr><td>Mandarin chars</td><td id='charsmandarin'></td></tr>
      <tr><td>Unique chars</td><td id='charsuniq'></td></tr>
      <tr><td>Common chars</td><td id='comchars'></td></tr>
      <tr><td>Common char occurrences (unique)</td><td id='comcharsfreq'></td></tr>
    </tbody>
  </table><br>
  </center>
  Legend:
  <ul>
    <li>Chars: total number of characters, includes punctuation</li>
    <li>Mandarin chars: chars which are not punctuation marks (e.g. ',.:'), or Western letters ('a,b,c')</li>
    <li>Common chars: Most common 1500 Mandarin chars</li>
  </ul>
</div>
