<!-- VIEW -->
<div id='study-view' style='display:none;'>
  <div id='study-view-text' style='display:block;overflow:hidden'>
    <span class='tab-content'>Press 'Analyse' in 'Edit' tab first.</span>
  </div>
  <button id='btn-study-edit' class='tab' onclick='Edit();'>Edit</button>
  <button id='btn-stats' class='tab' style='float:right;' onclick="_showHideOverlay('study-stats')">Stats</button>
  <br>
  <div>
    <div class='template' template='study/view/pick-study-chars' script></div>
    <br>
    <hr>
    <div>
      <h2>Writing study</h2>
      Practice these chars on paper.
      Pronounce the character each time you write it.
      <div id='char-strokes'></div>
    </div>
    <hr>
    <div class='template' template='study/view/flashcards' script></div>
    <h2>Save to studybook</h2>
    Save the characters learnt today to studybook.<br><br>
    <button id='save-studybook'>Save</button>
    <br><br>
    <hr>
  </div>
</div>
