<div id='about' class='tab-content' style='display:none'><h2>Overview</h2>
This is a helper tool for studying Mandarin.
Go to <b>Edit</b>, and paste any Mandarin text.
Press <b>Analyse</b>.
Then, choose a few characters to study from the text.
<br>
<h2>Other options</h2>
Other functionality.
<ul>
  <li><a id='new-studybook'style='text-decoration:underline'>New study book</a></li>
</ul>
</div>
