<div id='study' class='tab-content' style='display:block;'>
  <div class='template' template='study/edit'></div>
  <div class='template' template='study/view' script></div>
  <div class='template' template='study/stats'></div>
</div>
